.metaGallery{
    max-height: 100vh;
}
.carousel-item  h5{
    font-size: 5vh;
    text-decoration: wavy;
    font-weight: 30px;
    text-shadow: 10px 10px 6px black;
}
.carousel-item p{
    font-size: 3vh;
    color: aqua;
    font-weight: 700;
}