@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
.firsth{
    padding-top: 10vh;
}
.container{
    padding-top: 1vh;
    padding-bottom: 20vh;
    position: relative;
}
.p-4 rounded bg-light text-dark{
  opacity: 1;
}