.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: flex-end;
background-color: transparent; /*whichever you want*/
    opacity: 0.9; 
    filter:opacity(60);
    
}

@media screen and (max-width: 600px){
    .navbar-nav{
        position: relative;
    }
    
}

.navbar-brand{
    font-size: 2em;
}
span{
    text-align: center;
}
.logo{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
a.active_class{
    color: red;
    border-color: blanchedalmond;
}
@media screen and (max-width: 600px) {
    .logo{
       
        display: none;
    }
    #gal{
        display: none;
    }
}
  .fixed-top{
    //   background-color: #1c073e;
      text-align: center;
      backdrop-filter: blur(10px);
      z-index: 15;
    //   height: 100vh;
  }
  